<div class="single-item-container">
  <div id="item-{{item._id}}" class="single-item-card">
	<div class="single-item-contents">
	  <div class="single-item-title">
		<p>{{item.title}}</p>
	  </div>
	  <div class="single-item-img">
		<img src="{{item.imageUrl}}" alt="{{item.description}}">
	  </div>
	  <div class="single-item-description">
		<p>{{item.description}}</p>
	  </div>
	  <div class="single-item-navigation">
		<a href="index.html">
		  <img class="back-arrow" src="img/back.svg" alt="back">
		</a>
		<a href="update.html">
		  <div class="button update-button">
			Update
		  </div>
		</a>
	  </div>
	</div>
  </div>
</div>
